## United States Economic Forecast Project- Oussama Ennaciri

In [55]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)

In [7]:
import seaborn as sns
import pandas as pd
from sqlalchemy import create_engine

 The dataset consists of two tables based on the time intervals used in reporting, monthly or quarterly.

In [9]:
monthly = pd.read_csv('economic_indicators/monthly.csv')
quarterly = pd.read_csv('economic_indicators/quarterly.csv')

**Economic Indicators** : My data consists for macroeconomic indicators that I will use to predict cycles in the United Statesâ€™ economic activity.
|field_name|description|data_type|
|---|---|---|
|GDP|Gross Domestic Product|Continuous|
|GDPC1|Real Gross Domestic Product|Continuous|
|PCE|RPersonal Consumption Expenditures|Continuous|
|HOUST|New Privately-Owned Housing |Discrete|
|A053RC1Q027SBEA|National income: Corporate profits before tax|Continuous|
|IMPGSC1|Real imports of goods and services|Continuous|
|EXPGSC1|Real Exports of Goods and Services|Continuous|
|GCEC1|Real Government Consumption Expenditures and Gross Investment|Continuous|
|UNRATE|Unemployment Rate|Continuous|
|FEDFUNDS|Federal Funds Effective Rate|Continuous|
|GS10|Market Yield on U.S. Treasury Securities at 10-Year Constant Maturity|Continuous|
|CPIAUCSL|Consumer Price Index for All Urban Consumers|Continuous|

In [11]:
monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  769 non-null    object
 1   PCE               769 non-null    float64
 2   HOUST             769 non-null    int64
 3   UNRATE            769 non-null    float64
 4   FEDFUNDS          769 non-null    float64
 5   GS10              769 non-null    float64
 6   CPIAUCSL          769 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 42.2+ KB

In [12]:
quarterly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  257 non-null    object
 1   GDP               257 non-null    float64
 2   A053RC1Q027SBEA   257 non-null    float64
 3   IMPGSC1           257 non-null    float64
 4   EXPGSC1           257 non-null    float64
 5   GCEC1             257 non-null    float64
 6   GDPC1             257 non-null    float64
dtypes: float64(6), object(1)
memory usage: 14.2+ KB

In [13]:
monthly.shape

(769, 7)

In [14]:
quarterly.shape

(257, 7)

In [33]:
host = r'127.0.0.1'
db = r'MSDS610'
user = r'postgres'
pw = r'didion06'
port = r'5432'
schema = r'raw'

In [34]:
db_conn = create_engine("postgresql://{}:{}@{}:{}/{}".format(user, pw, host, port, db))

In [35]:
sql="select tables.table_name from information_schema.tables where (table_schema ='"+schema+"')order by 1;"
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

Empty DataFrame
Columns: [table_name]
Index: []

### Loading the data

In [53]:
table1_name = r'monthly_data'
table2_name = r'quarterly_data'

In [54]:
monthly.to_sql(table1_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')
quarterly.to_sql(table2_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')

257

In [57]:
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

       table_name
0    monthly_data
1  quarterly_data

### Retrieving data

In [ ]:
sql=r'SELECT * FROM ' + schema + '.' + table1_name
monthly_check = pd.read_sql(sql, db_conn, index_col=None)

In [60]:
monthly_check.head(10)

  observation_date    PCE  HOUST  UNRATE  FEDFUNDS  GS10  CPIAUCSL
0       1960-01-01  323.6   1460     5.2      3.99  4.72     29.37
1       1960-02-01  325.3   1503     4.8      3.97  4.49     29.41
2       1960-03-01  330.2   1109     5.4      3.84  4.25     29.41
3       1960-04-01  336.5   1289     5.2      3.92  4.28     29.54
4       1960-05-01  330.0   1271     5.1      3.85  4.35     29.57
5       1960-06-01  330.1   1247     5.4      3.32  4.15     29.61
6       1960-07-01  331.4   1197     5.5      3.23  3.90     29.55
7       1960-08-01  331.6   1344     5.6      2.98  3.80     29.61
8       1960-09-01  333.4   1097     5.5      2.60  3.80     29.61
9       1960-10-01  335.4   1246     6.1      2.47  3.89     29.75

In [61]:
sql=r'SELECT * FROM ' + schema + '.' + table2_name
quarterly_check = pd.read_sql(sql, db_conn, index_col=None)

In [62]:
quarterly_check.head(10)

,observation_date,GDP,A053RC1Q027SBEA,IMPGSC1,EXPGSC1,GCEC1,GDPC1
0,1960-01-01,542.648,58.778,123.608,104.686,1137.363,3517.181
1,1960-04-01,541.080,54.428,124.527,107.689,1150.170,3498.246
2,1960-07-01,545.604,52.155,120.857,110.036,1178.324,3515.385
3,1960-10-01,540.197,50.050,115.156,110.622,1186.511,3470.278
4,1961-01-01,545.018,49.179,114.599,109.861,1204.136,3493.703
5,1961-04-01,555.545,52.095,115.998,104.748,1207.172,3553.021
6,1961-07-01,567.664,55.033,123.682,109.482,1232.997,3621.252
7,1961-10-01,580.612,59.311,126.623,111.267,1260.059,3692.289
8,1962-01-01,594.013,58.340,130.476,110.613,1284.377,3758.147
9,1962-04-01,600.366,58.026,133.323,116.970,1290.924,3792.149